name: deploy to kubernetes

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose environment"
        required: true
        default: "dev"

jobs:
  deploy-k8s:
    name: "Deploy all Kubernetes manifests"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the branch
        uses: actions/checkout@v5

      - name: Azure Login (Service Principal)
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDS }}

      # ✅ (جديدة) خطوة Debug لمعرفة القيم قبل الاتصال
      - name: Debug Terraform Outputs
        run: |
          echo "RG NAME: ${{ steps.aks_output.outputs.rg_name }}"
          echo "AKS NAME: ${{ steps.aks_output.outputs.aks_name }}"

      - name: Connect to AKS Cluster
        run: |
          az aks get-credentials \
            --resource-group project3-g6-devops \
            --name group6--aks-cluster \
            --overwrite-existing

      - name: Deploy manifests
        run: |
          kubectl apply -f k8s/backend/ --recursive
          kubectl apply -f k8s/frontend/ --recursive
          kubectl apply -f k8s/network/ --recursive

      - name: Verify deployments
        run: |
          kubectl get pods -A
          kubectl get svc -A
          kubectl get ingress -A
